<% @gon.more_fields = more_fields(f) %>
<%= f.input :title %>
<%= f.input :subject %>
<%= f.input :topic1 %>
<%= f.input :topic2 %>
<div id="links">
  <%= f.fields_for :links do |links_form| %>
    <%= links_form.input :word1 %>
    <%= links_form.input :word2 %>
  <% end %>
  <%= link_to("Add more fields", "#", id: "add_fields") %>
</div>
<%= f.button :submit %>
