<div class="list-form">
  <% @gon.more_fields = more_fields(f) %>
  <%= f.input :title, label_html: {class: 'center-text'}, input_html: {class: 'center-object'}, error_html: {class: 'center-text'} %>
  <%= f.input :subject, label_html: {class: 'center-text'}, input_html: {class: 'center-object'}, error_html: {class: 'center-text'} %>
  <div class="topic-labels flex-container">
    <label class="center-text flex-child">Topic 1</label>
    <label class="center-text flex-child">Topic 2</label>
  </div>
  <div class="list-topics flex-container">
    <%= f.input :topic1, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'} %>
    <%= f.input :topic2, label: false, wrapper_html: {class: 'flex-child'}, error_html: {class: 'center-text'} %>
  </div>
  <div class="links">
    <h1 class="center-text">Words</h1>
    <div class="link-labels flex-container">
      <label class="center-text flex-child">Word</label>
      <label class="center-text flex-child">Translation</label>
    </div>
    <%= f.fields_for :links, class: :hi do |links_form| %>
      <%= render("link_fields", f: links_form) %>
    <% end %>
    <%= link_to("Add more fields", "#", id: "add_fields", class: 'center-text') %>
  </div>
  <%= f.button :submit, class: 'center-object' %>
</div>
