<section class="content">
  <%= button_to "Create a new list", new_list_path, method: :get, class: ['button-link'] %>
  <div class="list-index">
    <% @lists.each do |list| %>
      <div class="list-index-list">
        <h3><%= list.title %></h3>
        <p>Subject: <%= list.subject %></p>
        <p>Topic 1: <%= list.topic1 %></p>
        <p>Topic 2: <%= list.topic2 %></p>
        <%= link_to "Show this list", list_path(list.id) %> | <%= link_to "Quiz this list", new_quiz_path(list.id) %>
      </div>
    <% end %>
  </div>
</section>
