<section class="content">
  <%= button_to t('.create_new_list'), new_list_path, method: :get, class: 'center-object navigation-button' %>
  <div class="list-index">
    <% if @lists.none? %>
      <h3 class="center-text"><%= t '.no_lists_yet' %></h3>
    <% end %>
    <% @lists.each do |list| %>
      <div class="card">
        <h3 class="center-text"><%= list.title %></h3>
        <p class="center-text"><%= list.t :subject %>: <%= list.subject %></p>
        <p class="center-text"><%= list.t :topic1 %>: <%= list.topic1 %></p>
        <p class="center-text"><%= list.t :topic2 %>: <%= list.topic2 %></p>
        <%= button_to(t('.show_this_list'), list_path(list.id), class: 'center-object', method: :get) %>
        <%= button_to(t('.quiz_this_list'), new_quiz_path(list.id), class: 'center-object', method: :get) %>
      </div>
    <% end %>
  </div>
</section>
