<section class="content">
  <%= button_to(t('.return_to_list'), list_path(@list.id), method: :get, class: 'center-object navigation-button') %>
  <div class="card">
    <h3 class="center-text"><%= (t '.for_html')%{list_title: @list.title} %></h3>
    <p class="center-text"><%= (t '.finished_at')%{time: l(@quiz_result.created_at, format: :quiz_result_finished)} %></p>
    <p class="center-text"><%= @quiz_result.t :quiz_type %>: <%= @quiz_result.quiz_type %></p>
    <p class="center-text"><%= @quiz_result.t :direction %>: <%= @quiz_result.direction %></p>
    <p class="center-text"><%= ((@quiz_result.correct.to_f / (@quiz_result.correct + @quiz_result.quiz_errors.count)) * 100).to_i %>% correct</p>
    <h2 class="center-text"><%= @quiz_result.ta :quiz_errors, 2 %>:</h2>
    <% @quiz_result.quiz_errors.each.with_index do |quiz_error, i| %>
      <div class="card2">
        <h3 class="center-text"><%= (t '.error_number')%{number: i+1} %></h3>
        <p class="center-text"><%= quiz_error.t :word1 %>: <%= quiz_error.word_with_direction %></p>
        <p class="center-text"><%= quiz_error.t :word2 %>: <%= quiz_error.correct_answer_with_direction %></p>
        <p class="center-text"><%= quiz_error.t :answer %>: <%= quiz_error.answer %></p>
      </div>
    <% end %>
  </div>
</section>
