<%= link_to("Return to list", list_path(@list.id)) %>
<h3>Quiz result for <i><%= @list.title %></i> finished at <%= @quiz_result.created_at.strftime("%d-%m-%Y %H:%M") %></h3>
Quiz type: <%= @quiz_result.quiz_type %><br>
Direction: <%= @quiz_result.direction %><br>
Percentage correctly answered: <%= ((@quiz_result.correct.to_f / (@quiz_result.correct + @quiz_result.quiz_errors.count)) * 100).to_i %>%<br>
Errors:<br>
<% @quiz_result.quiz_errors.each.with_index do |quiz_error, i| %>
  <h3>Error number <%= i %></h3>
  <% if @quiz_result.direction == "normal" %>
    Word: <%= quiz_error.word1 %><br>
    Correct answer: <%= quiz_error.word2 %><br>
  <% else %>
    Word: <%= quiz_error.word2 %><br>
    Correct answer: <%= quiz_error.word1 %><br>
  <% end %>
  You answered: <%= quiz_error.answer %>
<% end %>
