<!DOCTYPE html>
<html>
  <head>
    <title>Woordjes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%
      if controller_name == 'quiz' && action_name == 'quiz'
    %>
        <%= Gon::Base.render_data(namespace: :parsed) %>
    <%
      end
    %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
